<h1> User </h1>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Surname:</b>
  <%= @user.surname %>
</p>

<% if @user %>
  <%= link_to "Logout", logout_path, method: :delete, class: "btn btn-primary" %>
<% end %>
